.so-widget-sow-headline-sow-headline-e6bb831dac44 #sow-headline-container.sow-headline h3 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-e6bb831dac44 #sow-headline-container.sow-headline h3 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-e6bb831dac44 #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20pxpx 60pxpx;
}